.mainContainer {
  padding: 0 5px;
}

.container {
  position: relative;
  max-width: 400px;
  margin: 5px auto;
  padding: 50px 25px 30px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px grey;
  overflow: hidden;
}
